
.container {
    background-image: url("/src/assets/gradient-background-bar.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100% 50px;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    justify-content: center;
    max-height: 10px ;
    min-height: 150px;
    border:solid red 1px;
}

.box{
    display: flex;
    flex: 1;
}
.one{
    min-width: 100px;
    /*deze moet verwijnen als scherm verkleint?*/
}
.two{
    justify-content: center;
}

.three{
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    /*row-gap: 20px;*/
}
img {
    width: 80%;
    min-width: 200px;
    margin: -90px -65px -80px -30px;

}
